.Handle {

}

.Handle:hover {
  background-color: rgba(0,0,0,0.1);
}

.Handle:before {
  content: '';
  position: absolute;
  background-color: rgba(0,0,0,0.2);
}

.Handle--right,
.Handle--left {
  cursor: ew-resize;
}

.Handle--bottom,
.Handle--top {
  cursor: ns-resize;
}

.Handle--bottom:before,
.Handle--top:before {
  width: 100%;
  height: 1px;
  top: 8px;
}

.Handle--right:before,
.Handle--left:before {
  height: 100%;
  width: 1px;
  left: 7px;
}